# Node and project
node_modules/
dist/
build/
.DS_Store
.env
.vscode/
*.log

# npm/Yarn
package-lock.json
yarn.lock

# macOS
.DS_Store

#PDFs and large assets (optional)
#pdf_previews/
projects/
.screenshot.mjs
.serve.mjs
.CLAUDE.md 
